page-comunity {
    .bgn-t {
        background-color: transparent !important;
    }

    .pakas-insert{
    	max-height: 50%;
    	max-width: 50%;
    	position: relative;
    	margin: auto;
    	outline-width: 3px;	
    }

}
