page-comunity {

    .bgn-t {
        background-color: transparent !important;
        position: relative;
    }

    .pakas-insert{
    	max-height: 50%;
    	max-width: 50%;
    	position: relative;
    	margin: auto;
        outline-width: 3px;
        opacity: 0.3;
        
    }


    .slide-zoom {
        height: 90%;
        text-align: center;
        display: block;
        width: 100%;
    }

    .btn-next-right{
        padding-left:85%;
    }

    .btn-before-left{
        padding-right:80%;
    }
}

.alert-md .alert-wrapper {
    border-radius: 20px!important;
    max-width: 280px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

