page-comunity {
    .bgn-t {
        background-color: transparent !important;
        position: relative;
    }

    .pakas-insert{
    	max-height: 50%;
    	max-width: 50%;
    	position: relative;
    	margin: auto;
        outline-width: 3px;
        opacity: 0.3;
        
    }

}
