// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.input-group{
    color: "activeColor";
    font-family: "Nunito";
    font-size: 15px;
    text-align: center;
    background-color: transparent !important;
    input{
        height: 80%;
        width: 30px;
        background-color: transparent !important;
        color: "activeColor";
        text-decoration-color: "textColor"
    }
}

.input-group:hover{
    color: "textColor";
}



.btn-nav{
    background-color: "activeColor";
    display: flex;
    width: 50px;
    size: 20px;

    button{
        color: "textColor";
        background-color: #02b89a;
        box-shadow:#FD7272;
        padding: 15px;  
    }
    .button-md:hover{
        background-color: #FD7272,
    }

    .button-back{
        top: 0px;
        position: absolute;
        left: 0px;
        font-size: 25px;
    }
    .button-ok{
        top: 0px;
        position: absolute;
        right: 0px;
        font-size: 25px;
    }
}

.title-group{
    text-align: center;
    color: "textColor";
    font-family: 'Nunito';
    font-weight: 20px;
    height: 40px;
    padding-bottom: 0px;
}

.btn-menu{
    color: #02b89a;
    background-color: transparent!important;
    text-align: center;
    border-radius: 6px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px 0px 0px;
    width: -webkit-fill-available;
    :hover{
        background-color: #FD7272;
        border-left-color:  #FD7272;
        border-right-color:  #FD7272;
    }
    .item-md .item-button{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
        font-family: 'Nunito';
        :hover{
            background-color: #FD7272;
            border-left-color:  #FD7272;
            border-right-color:  #FD7272;
        }
    }
}

.label .label-md{
    padding: 0px 0px;

}

.material-icons{
    text-align: left;
}


@font-face {
  font-family: "Ionicons";
  src: url("../assets/fonts/ionicons.woff2?v=3.0.0-alpha.3") format("woff2"), url("../assets/fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"), url("../assets/fonts/ionicons.ttf?v=3.0.0-alpha.3") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ion-icon {
  display: inline-block;
  font-size: 2em;
  padding-right: 8px;
  line-height: 2;
  font-weight: bolder;
}
