.toolbar-background-md{
    background-color: color($colors, dark);
    border-color: color($colors, light);
    background: color($colors, dark);
}
ion-toolbar {
    background: color($colors, dark);
    position: relative;
    z-index: 10;
    background-color: color($colors, dark);
}


.input-group{
    font-size: 15px;
    text-align: center;
    color: color($colors,textColor);
    background-color: transparent !important;
    input{
        height: 80%;
        width: 30px;
        background-color: transparent !important;

    }
}
.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: color($colors, textColor);
}

.label-md .label-md[stacked], .label-md[floating]{
    color: color($colors, light);
    font-size: 2rem;
    display: contents;
}


.logo-pakas-fab{

    background: transparent !important;
    border: none;

    max-width:10%;
    max-height:10%;
    top: 10px;
    left: 5%;
    position: absolute;

}



.btn-nav{
    display: flex;

    .button-back{
        top: 0px;
        position: absolute;
        left: 0px;
        font-size: 10px;
        width: 40px;
        height: 80%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .button-ok{
        top: 0px;
        position: absolute;
        right: 0px;
        font-size: 25px;
    }
}

.title-group{
    text-align: left;
    font-size: 4em;
    height: 40px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.btn-menu{

    text-align: right;
    border: 3px solid transparent;
    border-radius: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 2px solid transparent;
    width: -webkit-fill-available;

    .item-md .item-button{
        border-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;

    }
    .button-inner{
        justify-content: flex-end;
    }
    
}

.material-icons{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


@font-face {
  font-family: "Ionicons";
  src: url("../assets/fonts/ionicons.woff2?v=3.0.0-alpha.3") format("woff2"), url("../assets/fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"), url("../assets/fonts/ionicons.ttf?v=3.0.0-alpha.3") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ion-icon {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  font-weight: bolder;
}

.item-md .item-button {
    padding: 0 0.6em;
    height: 35px;
    font-size: 1.2rem;
}

.btn-group {
   
    top: 55%;
    //border: 4px solid transparent;
    padding-bottom: 10px;
    padding-top: 10px;

    .button-md{
        box-shadow: none;
        border-width: 1px;
        border-style: solid;
        border-radius: 60px;
        color: color($colors, secondary);
        background-color: transparent;
        -webkit-box-shadow: none;
    }

}
.button-outline-md{
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    color: color($colors, secondary);
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.btn-group-user .button-outline-md{
    
    border: 1px solid color($colors, secondary);
    outline-color: 1px solid color($colors, secondary);
    //display: inline-flex;
    //position: relative;
    top: 55%;
    //border: 4px solid transparent;
    padding-bottom: 10px;
    padding-top: 10px;

    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    color: color($colors, secondary);

}

.input-wrapper{
    align-self: auto;
}

.title-profile{
    align-items: center;
    position: relative;
    display: contents;
}


.lbl-style{
    font-weight: 400;
    text-transform: uppercase;
    height: 30%;
    margin: 0px 0px 0px 0px;
}


.scroll-content{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}


    .item-inner{
        border-bottom: none!important;
        webkit-box-shadow: none!important;
        box-shadow: none!important;
   }
   .list-md .item-input:last-child{
        border-radius: 0px;
        border-bottom: none!important;
        position: relative;
        box-shadow: none!important;
   }



   .item-label-stacked .input-wrapper, .item-label-floating .input-wrapper{
    border-bottom: 1px solid white;
   }



   .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
        webkit-box-shadow: none;
        box-shadow: none;
    }


.form-group {
    border-radius: 30px;
    text-align:center;
    bottom: -250px;
    position: relative;
   
   input{
       height: 80%;
       width: 30px;       
   }   
}

.form-group-user {
    border-radius: 30px;
    text-align:center;
    top: 40px;
    position: relative;
   
   input{
       height: 80%;
       width: 30px;       
   }   
}

        //card
        .card-md {
            display: -webkit-inline-box;
            margin: 10px;
            border-radius: 2px;
            font-size: 1.4rem;
            background: #fff;
             }
    
        //description
        .card-md p {
            margin: 0 0 2px;
            font-size: 2.4rem;
            font-weight: normal;
            line-height: 1.2;
            color: #222;

        }
        //title inside avatar
        .card-title-md {
            display: block;
            font-size: 1.6rem;
            line-height: 1.2;
            margin: 0px;
            padding: 0px;

        }
        //box inside avatar
        .card-content-md{
            font-size: 0.4rem;
            line-height: 1.2;
            padding: 0px;
        }
    