// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
:root{
  --primary:    #488aff;
  --secondary:  #32db64;
  --danger:     #f53d3d;
  --light:      #f4f4f4;
  --dark:       #222;
  --navBar:    #542e50;
  --navBarLight: #dabdd6;
  --navBarDark: #2a0628;
  --magPurple: #6D214F;
  --darkPurpleColor: #352a69;
  --pinkNeonColor: #FD5B78;
  --blueNeonColor: #00E3BE;
  --textWhiteColor: white;
}



.input-group{
    color: var(--pinkNeonColor);
    font-family: "Nunito";
    font-size: 15px;
    text-align: center;
    background-color: transparent !important;
    input{
        height: 80%;
        width: 30px;
        background-color: transparent !important;
        color: var(--pinkNeonColor);
        text-decoration-color: var(--pinkNeonColor);
    }
    :focus{
        text-decoration-color: var(--pinkNeonColor);
    }
}

.input-group:hover{
    color: var(--pinkNeonColor);
}



.btn-nav{
    background-color: var(--blueNeonColor);
    display: flex;

    button{
        color: var(--textWhiteColor);
        background-color: var(--blueNeonColor);
        box-shadow: var(--pinkNeonColor);
        padding: 15px;  
    }
    .button-md:hover{
        background-color: var(--pinkNeonColor);
    }

    .button-back{
        top: 0px;
        position: absolute;
        left: 0px;
        font-size: 10px;
        width: 40px;
        height: 80%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .button-ok{
        top: 0px;
        position: absolute;
        right: 0px;
        font-size: 25px;
    }
}

.title-group{
    text-align: left;
    color: var(--darkPurpleColor);
    font-family: 'Nunito';
    font-weight: 20px;
    height: 40px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.btn-menu{
    color: var(--textWhiteColor);
    background-color: transparent!important;
    outline-color: transparent!important;
    border-color: transparent!important;
    text-align: right;
    border-radius: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px 0px 0px;
    width: -webkit-fill-available;
    :hover{
        border-color: var(--blueNeonColor);
        background-color: var(--pinkNeonColor);
        color: var(--textWhiteColor);
    }
    .item-md .item-button{
        border-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
        font-family: 'Nunito';
        :hover{
            background-color: transparent!important;
            border-left-color:  var(--pinkNeonColor);
            border-right-color: var(--pinkNeonColor);

        }
    }
    .button-inner{
        justify-content: flex-end;
    }
    
}

.label .label-md{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    :focus{
        color: var(--pinkNeonColor);
    }
    .label-md[floating]:focus{
        color: var(--pinkNeonColor);
    }
}
.label-md[floating]{
    color: var(--pinkNeonColor);
}

.material-icons{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


@font-face {
  font-family: "Ionicons";
  src: url("../assets/fonts/ionicons.woff2?v=3.0.0-alpha.3") format("woff2"), url("../assets/fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"), url("../assets/fonts/ionicons.ttf?v=3.0.0-alpha.3") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ion-icon {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  font-weight: bolder;
}

.btn-group {
    display: flex;
    position: relative;
    bottom: -240px;

    .button-md{
        box-shadow: none;
        border-radius: 60px;
        background-color: var(--darkPurpleColor);
        padding: 0px 0px 0px 0px;
        color: var(--textWhiteColor);
        border-width: 1px;
        border-style: solid;
        border-radius: 60px;
        border-color: var(--blueNeonColor);
        /* color: #488aff; */
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    :hover{
        color: var(--darkPurpleColor);
        background-color: var(--pinkNeonColor)
    }

    button:active{
        box-shadow: var(--blueNeonColor);
        animation-duration: 2ms;
        outline:none;
        background-color: var(--blueNeonColor);
    }

    .button-outline-md{
        border-width: 1px;
        border-style: solid;
        border-radius: 60px;
        border-color: var(--blueNeonColor);
        /* color: #488aff; */
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        :hover{
            border-color: var(--pinkNeonColor) ;
        }
    }

}



.lbl-style{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--textWhiteColor);
    height: 40%;
    margin: 0px 0px 0px 0px;
}


.scroll-content{
    overflow-y: auto!important;
}


    .list-md .item-block .item-inner{
        border-bottom: 1px solid var(--pinkNeonColor) ;
        border-bottom-color: var(--pinkNeonColor) ;
        webkit-box-shadow: none!important;
        box-shadow: none!important;
        :focus{
            border-bottom-color: var(--pinkNeonColor) ;
        }

   }

   .item-inner{
        border-bottom: 1px solid var(--pinkNeonColor);
        border-radius: 0px;
        box-shadow: none !important;
        webkit-box-shadow: none !important;
        border-bottom-width: 40%;
        
        :focus{
            box-shadow: none;
        webkit-box-shadow: none!important;
        box-shadow: none!important;
        }

   }

   .list-md .item-input:last-child{
        border-bottom: 1px var(--pinkNeonColor);
        border-radius: 0px!important;
        box-shadow: none!important;
        webkit-box-shadow: none!important;
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 10px;
        left: -15px;
        :focus{
            border-bottom-color: var(--pinkNeonColor) ;
        }
   }

   .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: var(--pinkNeonColor);
        webkit-box-shadow: none;
        box-shadow: none;
    }
