page-login{
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size
        }
    //background-color: #542e50;
    background-color: var(--darkPurpleColor);

    .bgn-t {
        background-color: transparent !important;
    }

    .list-md .item-input:last-child{
        border-bottom: 0px solid;
   }
}
.scroll-content{
    overflow-y: hidden;
}

.form-group {
    border-radius: 30px;
    text-align:center;
    bottom: -250px;
    color:#FD7272;
    
    
   input{
       height: 80%;
       width: 30px;
       background-color: transparent !important;
       color: var(--textWhiteColor);
   }
   
}


.item{
    background-color: transparent !important;
    text-decoration-color: var(--blueNeonColor);
}


.logo-pakas{
    background: transparent !important;
    border: none;
    width: 100%;
    height: 100%;
    top: -40px;
    position: absolute;
}

.forget-label .label-md{
    text-align: right;
    color: var(--blueNeonColor);
    top: 240px;
    height: 10%;
    width: 100%;
    position: relative ;
    font-family: 'Nunito', cursive;
    margin: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

.text-input {
    color: var(--darkPurpleColor);
}

.input-cover{
    border-bottom: 2px solid;
}