page-login{

    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size
        
    }

   .item-inner{
        border-radius: 0px;
        box-shadow: none !important;
        webkit-box-shadow: none !important;
        
        :focus{
        	box-shadow: none;
        	 webkit-box-shadow: none;
        	 border-bottom-color: none;
        }

   }

   .list-md .item-input:last-child{
       
        box-shadow: none!important;
        webkit-box-shadow: none!important;
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 10px;
        left: -15px;
        bottom: 50%;
   }
   .list-md{
       padding: 0px;
   }
    
}


.scroll-content{
    
    background-color: color($colors,primary);
}


.item{
    background-color: transparent !important;
}


.logo-pakas{
    background: transparent !important;
    border: none;
    max-width:50%;
    max-height:50%;
    top: 60px;
    left: 25%;
    z-index: 9999;
    position: fixed;
}

.fixed-content{
    position: fixed;
}

.forget-label .label-md{
    color: color($colors, textColor);
    font-weight: bold;
    :focus{
        color: color($colors, textColor);
    }
}

.row{
    flex-wrap: inherit;
    top: 10px;
}
.grid-login{
    top: 90%;
    position: fixed;
}

.input-cover{
    border-bottom: 2px solid;
}

