page-timeline {

    ion-avatar, ion-thumbnail {
        display: flex;
        line-height: 1;
        
    }

    ion-avatar-mg{
        width: 20%!important;
        height: 20%!important;
        max-width: 20%!important;
        max-height: 20%!important;
    }
    ion-avatar img, ion-thumbnail img{
        display: flex;
        position: initial;
        height: 40%;
        width: 40%;
        //border-radius: 10px;
    }
    ion-card-content{
        transform: translateY(60px);
        top: 50%;
        position: relative;
        display: inline;
    }

    list-card{
        display: inline-flex;
        top: 10px;
        position:  relative;
        display:  flow-root;
        transform: translateY(20px);

    }
    //card
    .card-md {
        display: -webkit-inline-box;
        margin: 10px;
        border-radius: 2px;
        font-size: 1.4rem;
        background: #fff;
        box-shadow: transparent!important;
        -webkit-box-shadow: unset;
    
    }
    .card-title-md {
        display: block;
        font-size: initial;
        line-height: 1.2;
        margin: 2px 0;
        padding-left: 3px;
        padding-top: 0px;
        font-weight: bold;
    }

    //description
    .card-md p {
        margin: 0 0 2px;
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 1.0;
        color:color($colors,textColorGrey);
        padding-left: 10px;
    }
    //box inside avatar
    .card-content-md{
        font-size: 1.9rem;
        line-height: 1.0;
        padding: 0px;
    }

    .fab-follow{
        background-color: transparent!important;
        box-shadow: transparent!important;
        display: flex;
        border: 0px transparent!important;
        justify-content: right;

    }

    
    ion-fab[right] {
        left: 0px;
        z-index: 90;
        transform: translateX(265px);
        top: 0;
        border-bottom: 0px;
             }

    .mti-group{
        position: relative;
        display: -webkit-inline-flex;
        background-color: transparent!important;
        font-family: 'Material Icons';
        font-size: 24px;
        transform: translateX(600%);
    }

    .timeline{
        position: relative;
        top: 13%;
    }
}
