page-list-comunity {

        ion-avatar, ion-thumbnail {
            display: flex;
            line-height: 1;
            
        }
    
        ion-avatar-mg{
            width: 20%!important;
            height: 20%!important;
            max-width: 20%!important;
            max-height: 20%!important;
        }
        ion-avatar img, ion-thumbnail img{
            display: flex;
            position: initial;
            height: 100%;
            width: 100%;
            //border-radius: 10px;
        }
        ion-card-content{
            transform: translateY(60px);
            top: 50%;
            position: relative;
            display: inline;
        }
    
        list-card{
            display: inline-flex;
            top: 10px;
            position:  relative;
            display:  flow-root;
           
            transform: translateY(20px);
    
        }

        .fab-follow{
            background-color: transparent!important;
            box-shadow: transparent!important;
        }
    
        
        ion-fab[right] {
            left: 0px;
            z-index: 90;
            transform: translateX(265px);
            top: 0;
            border-bottom: 0px;
        }
    
        .mti-group{
            position: relative;
            display: -webkit-inline-flex;
            background-color: transparent!important;
            font-family: 'Material Icons';
            font-size: 24px;
            transform: translateX(600%);
        }
    
}
