page-dashboard {


    ion-fab-list[side=left]{
        top: -25px;
    }
    ion-fab-list[side=right]{
        top: -25px;
    }

    .tab-bottom {
        display: flex;
        width: 100%;
        flex-direction: row;
        background: #eee;
        border-top: 1px solid #ccc;
        position: absolute;
        bottom: 0;
        padding: 5px;
        justify-content: space-between;
        z-index: 99;
    }

    .tab-nav-left {
        margin-right: 10px;
        width: 50%;
        text-align: center;
        display:  flex;
        align-content: center;
        justify-content: center;
        position: sticky;
        bottom: 0;
        z-index: 110;
    }
    .tab-nav-right {
        margin-left: 10px;
        width: 50%;
        text-align: center;
        display:  flex;
        align-content: center;
        justify-content: center;
        position: sticky;
        bottom: 0;
        z-index: 110;
    }

    .button-outline-md{
        border-width: 1px;
        border-style: solid;

        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px 0px 0px 0px;

        .cth-heart{
            transform-origin: -10px;
        }
    }

    .ion-list-nav{
        height: 0%;
        //padding-top: 120px;
        width: 49px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0px;
        border-bottom: 0px;
        border-bottom-color: transparent!important;
        .item-md{
            padding-left: 0px;
        }

    }



    item-md ion-avatar{
        margin-right: 0px;
    }
    
    .item-inner{
        border-bottom: 0px;
        border-bottom-color: transparent!important;
        
    }
    
    
    .badge-group{
        
        ion-avatar img  {
            max-width: 100px !important;  //any size
            max-height: 50px !important; //any size
            padding: 0px 0px 0px 0px;
            position: absolute;
            bottom: 10px;
        }
        .image_with_badge_container {
            display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
            position: relative;
            padding: 0px 0px 0px 0px;
            
            .badge{
                margin-right: 0px;
                margin-top: 10px;
                margin-bottom: 0px;
                margin-left: 10px;
            }

        }
        
        .badge-on-image {
            position: absolute;
            bottom: 2px;
            left: -3px;
            padding: 0px 6px;
            border-radius: 60px;
        }
        
        
    }
    

}
  

