profile-crud {
 
    background: color($colors,primary);
   
    .toolbar-content-md{
        position: initial;
        display: -webkit-inline-box;
       padding-right: 10px;
       padding-left: 5px;
    }
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size
    }
    .back-btn{
        width: 90%;
        left: 0; 
    }

    .edit-btn{
        width: 0%;
        right: 0; 
    }

    .card-md {
        padding-top: 50px;
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
    }

    .button-full.button-outline{
        margin: 1px solid color($colors,secondary);
        border-radius: 60px;
        border-left: 1px solid;
        border-right: 1px solid;
    }

    .save{
        position: initial;
        border-radius: 60px;
        z-index: 130;
    }

    .item {
        contain: content;
        z-index: 50;
    }
}


