page-home {
    background-color: #542e50;

    .bgn-t {
        background-color: transparent !important;
    }
}


.btn-group {
    display: flex;

    button {
        box-shadow: none;
    }

    .btn-left {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-right {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}